/* Main element styles*/

body {
  padding-top: 3.5rem;
}

/* Footer styles */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 80px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 10px;
}

.fa:hover {
    background: black;
}

.fa-facebook {
    background: white;
  color: rgb(188, 22, 22);
}

.fa-instagram {
    background: white;
  color: rgb(188, 22, 22);
}

footer{
    background-color: rgb(188, 22, 22);
    background-image: url("../img/salmiakki2.GIF");
    background-repeat: repeat-x;
}

.footer-top{
    height: 140px;
}

/* Common header styles */
h1,h2,h3,h4{
    text-align: center;
}

h1, h2{
    font-weight: bold;
}

/*Custom navbar coloring*/
.navbar-epo {
    background-color: rgb(188, 22, 22);
}

.navbar-epo .navbar-brand,
.navbar-epo .navbar-text {
    color: rgba(255,255,255,.8);
}

.navbar-epo .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}

.navbar-epo .nav-item.active .nav-link,
.navbar-epo .nav-item:hover .nav-link,
.navbar-epo .navbar-toggler{
    color: #ffffff;
}

/*Custom link coloring*/
.epo-link-custom-color {
  color: rgb(188, 22, 22); !important;
}
.epo-link-custom-color:hover, .epo-link-custom-color:active {
  color: black !important;
}

/* Form iframe styles*/
iframe{
    border: 0;
    width: 100%;
}

/* Custom epo button */
.btn-epo {
    color: white;
    background-color: rgb(188, 22, 22);
}

.btn-epo:hover {
    color: white;
    background-color: #8B1818;
}

.btn-epo:focus,
.btn-epo.focus {
    box-shadow: 0 0 0 .2rem rgba(91, 194, 194, 0.5)
}

/* Header image and text styling*/

#indexHeaderJumbotron{
    background: url('../img/epo_landing2.jpg') no-repeat center;
    background-size: cover;
    /*Eliminate appearing gap*/
    margin-bottom: 0px;
    min-height: 50vh;
}

#indexHeaderJumbotron p, #indexHeaderJumbotron h1{
    text-shadow: 0px 0px 3px #FFFFFF;
}