/* Main element styles*/
.container{
    /*background-color: #e5e5e5;*/
}

body {
  padding-top: 5rem;
}

/* Hallitus and toimihenkilöt styles */

.personName{
    text-align: center;
}
.personTitle{
    text-align: center;
    font-weight: bold;
}

/* Footer styles */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 80px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 10px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

footer{
    background-color: #fcfcfc;
}

/* Common header styles */
h1,h2,h3,h4{
    text-align: center;
}

/*Custom navbar coloring*/
.navbar-epo {
    background-color: rgb(188, 22, 22);
}

.navbar-epo .navbar-brand,
.navbar-epo .navbar-text {
    color: rgba(255,255,255,.8);
}

.navbar-epo .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}

.navbar-epo .nav-item.active .nav-link,
.navbar-epo .nav-item:hover .nav-link,
.navbar-epo .navbar-toggler{
    color: #ffffff;
}