    <footer>
        <div class="container">
            <div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5 text-center">
                    <a href="https://www.facebook.com/groups/oulunepo/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="https://www.instagram.com/oulunepo/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>
            </div>
            </hr>
            <div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center">
					<p>
<span class="font-weight-bold">Oulun Etelä- ja Keskipohjalainen Osakunta ry</span><br>
PL 8000<br>
90014 OULUN YLIOPISTO<br>
epo-hallitus (at) lists (piste) oulu (piste) fi</p>

				</div>
			</div>
        </div>
    </footer>
</body>
</html>