{% include "header_template.html" %}

{% include "navbar_template.html" %}

<header id="indexHeaderJumbotron" class="jumbotron jumbotron-fluid">
    <div class="container-fluid text-center">
       <h1 class="display-3 py-5">OULUN ETELÄ- JA KESKIPOHJALAINEN OSAKUNTA</h1>
        <!--
       <p class="font-weight-bold">Oulun Etelä- ja Keskipohjalainen osakunta eli EPO ry toimii pohjalaishenkisten opiskelijoiden yhteisenä järjestönä. EPO järjestää jäsenilleen kaikenlaista hauskaa tekemistä erilaisten tapahtumien ja aktiviteettien muodossa. Suosittuja EPO:n tapahtumia ovat esimerkiksi erilaiset illanvietot, joissa katsotaan elokuvia ja pelataan lautapelejä, lisäksi jokavuotiset pikkujoulut ja kesällä tapahtuvat excursiot ovat jäsenistön suosiossa. Tule rohkeasti mukaan hauskaan ja yhteisölliseen porukkaan!</p>
        <a href="epo.html" class="btn btn-epo text-center">Lisää tietoa osakunnasta!</a>
        -->
    </div>
</header>

<main role="main" class="container">
    <p class="lead text-justify">Oulun Etelä- ja Keskipohjalainen osakunta eli EPO ry toimii pohjalaishenkisten opiskelijoiden yhteisenä järjestönä. EPO järjestää jäsenilleen kaikenlaista hauskaa tekemistä erilaisten tapahtumien ja aktiviteettien muodossa. Suosittuja EPO:n tapahtumia ovat esimerkiksi erilaiset illanvietot, joissa katsotaan elokuvia ja pelataan lautapelejä, lisäksi jokavuotiset pikkujoulut ja kesällä tapahtuvat excursiot ovat jäsenistön suosiossa. Tule rohkeasti mukaan hauskaan ja yhteisölliseen porukkaan!</p>
</main>

{% include "footer_template.html" %}