{% include "header_template.html" %}

{% include "navbar_template.html" %}

<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
          <h1>OULUN ETELÄ- JA KESKIPOHJALAINEN OSAKUNTA</h1>
        <p class="text-center">OULUN ETELÄ- JA KESKIPOHJALAINEN OSAKUNTAOulun Etelä- ja Keskipohjalainen osakunta eli EPO ry toimii pohjalaishenkisten opiskelijoiden yhteisenä järjestönä. EPO järjestää jäsenilleen kaikenlaista hauskaa tekemistä erilaisten tapahtumien ja aktiviteettien muodossa. Suosittuja EPO:n tapahtumia ovat esimerkiksi erilaiset illanvietot, joissa katsotaan elokuvia ja pelataan lautapelejä, lisäksi jokavuotiset pikkujoulut ja kesällä tapahtuvat excursiot ovat jäsenistön suosiossa. Tule rohkeasti mukaan hauskaan ja yhteisölliseen porukkaan!</p>
<a href="epo.html" class="btn btn-epo text-center">Lisää tietoa osakunnasta!</a>

          <br>

        <h2>Jäseneksi</h2>
        <p class="text-center">Tämän linkin kautta pystyt liittymään Oulun Etelä- ja Keskipohjalaisen osakunnan jäseneksi! Jäsenenä olet oikeutettu osallistumaan EPO:n tapahtumiin ja aktiviteetteihin.</p>


            <div class="col text-center">
                <a href="jaseneksi.html" class="btn btn-epo text-center">Liity jäseneksi!</a>
            </div>
        <br>
      </div>

    </div>


  </div>
</header>

<main role="main" class="container">
        <h1>OULUN ETELÄ- JA KESKIPOHJALAINEN OSAKUNTA</h1>
        <p class="text-center">OULUN ETELÄ- JA KESKIPOHJALAINEN OSAKUNTAOulun Etelä- ja Keskipohjalainen osakunta eli EPO ry toimii pohjalaishenkisten opiskelijoiden yhteisenä järjestönä. EPO järjestää jäsenilleen kaikenlaista hauskaa tekemistä erilaisten tapahtumien ja aktiviteettien muodossa. Suosittuja EPO:n tapahtumia ovat esimerkiksi erilaiset illanvietot, joissa katsotaan elokuvia ja pelataan lautapelejä, lisäksi jokavuotiset pikkujoulut ja kesällä tapahtuvat excursiot ovat jäsenistön suosiossa. Tule rohkeasti mukaan hauskaan ja yhteisölliseen porukkaan!</p>


        <div class="row">
            <div class="col text-center">
                <a href="epo.html" class="btn btn-epo text-center">Lisää tietoa osakunnasta!</a>
            </div>
        </div>

        <br>

        <h2>Jäseneksi</h2>
        <p class="text-center">Tämän linkin kautta pystyt liittymään Oulun Etelä- ja Keskipohjalaisen osakunnan jäseneksi! Jäsenenä olet oikeutettu osallistumaan EPO:n tapahtumiin ja aktiviteetteihin.</p>


        <div class="row">
            <div class="col text-center">
                <a href="jaseneksi.html" class="btn btn-epo text-center">Liity jäseneksi!</a>
            </div>
        </div>
        <br>

    </main>

{% include "footer_template.html" %}