{% include "header_template.html" %}

{% include "navbar_template.html" %}

<main role="main" class="container">
<h1>JÄSENEKSI</h1>

        <p class="text-justify">Täytä alla oleva liittymiskaavake liittyäksesi EPO:n jäseneksi. Kaavakkeen lähettämisen jälkeen maksa jäsenmaksu. Huomioithan, että hyväksymme uudet hakemukset hallituksen kokouksessa, joita järjestetään noin kuukauden välein. Sinut voidaan hyväksyä jäseneksi, kun jäsenhakemuksesi on saapunut ja jäsenmaksusi näkyy tilillä kokouspäivänä. Tästä johtuen hyväksymisessä voi ilmetä viivettä. Seuraa sähköpostiasi, olemme yhteydessä sinuun heti hyväksymisen jälkeen!</p>

        <p class="text-justify">Ainaisjäsenmaksu 10€ maksetaan Oulun etelä- ja keskipohjalaisen osakunnan tilille FI57 4744 3020 0320 55. Viestiosaan tulee laittaa nimi, kotikunta, koulutusohjelma, tiedekunta ja aloitusvuosi.</p>

        <h2>Jäsenlomake</h2>

        <form>
          <div class="form-group">
              <label for="inputFirstName">Etunimi</label>
              <input type="text" class="form-control" id="inputFirstName" placeholder="Etunimi">
          </div>
          <div class="form-group">
              <label for="inputFamilyName">Sukunimi</label>
              <input type="text" class="form-control" id="inputFamilyName" placeholder="Sukunimi">
          </div>
            <div class="form-group">
              <label for="inputAddress">Lähiosoite</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="Lähiosoite">
          </div>

            <div class="form-group">
              <label for="inputPostCodeAndPlace">Postinumero ja postitoimipaikka</label>
              <input type="text" class="form-control" id="inputPostCodeAndPlace" placeholder="Postinumero ja postitoimipaikka">
          </div>

            <div class="form-group">
              <label for="inputHomePlace">Kotikunta</label>
              <input type="text" class="form-control" id="inputHomePlace" placeholder="Kotikunta">
          </div>

          <div class="form-group">
            <label for="inputEmail">Sähköposti</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="Sähköposti">
          </div>

            <div class="form-group">
              <label for="inputSchool">Tiedekunta/koulutusohjelma/aloitusvuosi</label>
              <input type="text" class="form-control" id="inputSchool" placeholder="Tiedekunta/koulutusohjelma/aloitusvuosi">
          </div>

          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="checkEmailList">
            <label class="form-check-label" for="checkEmailList">Haluan liittyä sähköpostilistalle</label>
          </div>
            <br>
          <button type="submit" class="btn btn-primary">Lähetä</button>
        </form>
        <br>
</main>

{% include "footer_template.html" %}