{% include "header_template.html" %}

{% include "navbar_template.html" %}

<main role="main" class="container">
<h1>HYÖDYLLISIÄ LINKKEJÄ</h1>
    Galleria (vanha uusi tjsp)

    <h2>Muita osakuntia</h2>
    <a href="http://lipas.uwasa.fi/~puukkoo/">VAASAN YLIOPISTON ETELÄPOHJALAINEN OSAKUNTA</a>
    <a href="http://www.students.tut.fi/~ttepo/">TAMPEREEN TEEKKARIEN ETELÄ-POHJALAINEN OSAKUNTA</a>
    <a href="http://typo-osakunta.fi/">TAMPEREEN YLIOPISTON POHJALAINEN OSAKUNTA</a>
    <a href="https://www.osterbottniskanationen.com/">Österbottniska Nationen vid Åbo Akademi</a>
    <a href="http://vasa.nation.fi/">VASA NATION</a>
    <a href="http://epo.osakunta.fi/">HELSINGIN YLIOPISTON ETELÄ-POHJALAINEN OSAKUNTA</a>
    <a href="http://pohjoispohjalaiset.fi/">HELSINGIN YLIOPISTON POHJOIS_POHJALAINEN OSAKUNTA</a>
    <a href="https://tyyala.utu.fi/tpo/">Turun yliopiston pohjalainen osakunta</a>
    <a href="https://www.oulunseudunetelapohjalaiset.com/">Oulun Seudun Eteläpohjalaiset</a>
</main>

{% include "footer_template.html" %}