{% include "header_template.html" %}

{% include "navbar_template.html" %}

<main role="main" class="container">
<h1>HYÖDYLLISIÄ LINKKEJÄ</h1>
    <div class="text-center"><a class="epo-link-custom-color" href="#">Galleria</a></div>
    <br>
    <div class="text-center"><a class="epo-link-custom-color" href="https://forms.gle/73Z9ByDMECbmYBtf9">Haalarimerkkien tilaaminen</a></div>
    <br>
    <h2>Muita osakuntia</h2>
    <br>
    <div class="text-center"><a class="epo-link-custom-color" href="http://lipas.uwasa.fi/~puukkoo/">VAASAN YLIOPISTON ETELÄPOHJALAINEN OSAKUNTA</a></div><br>
    <div class="text-center"><a class="epo-link-custom-color" href="http://www.students.tut.fi/~ttepo/">TAMPEREEN TEEKKARIEN ETELÄ-POHJALAINEN OSAKUNTA</a></div><br>
    <div class="text-center"><a class="epo-link-custom-color" href="http://typo-osakunta.fi/">TAMPEREEN YLIOPISTON POHJALAINEN OSAKUNTA</a></div><br>
    <div class="text-center"><a class="epo-link-custom-color" href="https://www.osterbottniskanationen.com/">Österbottniska Nationen vid Åbo Akademi</a></div><br>
    <div class="text-center"><a class="epo-link-custom-color" href="http://vasa.nation.fi/">VASA NATION</a></div><br>
    <div class="text-center"><a class="epo-link-custom-color" href="http://epo.osakunta.fi/">HELSINGIN YLIOPISTON ETELÄ-POHJALAINEN OSAKUNTA</a></div><br>
    <div class="text-center"><a class="epo-link-custom-color" href="http://pohjoispohjalaiset.fi/">HELSINGIN YLIOPISTON POHJOIS_POHJALAINEN OSAKUNTA</a></div><br>
    <div class="text-center"><a class="epo-link-custom-color" href="https://tyyala.utu.fi/tpo/">Turun yliopiston pohjalainen osakunta</a></div><br>
    <div class="text-center"><a class="epo-link-custom-color" href="https://www.oulunseudunetelapohjalaiset.com/">Oulun Seudun Eteläpohjalaiset</a></div><br>
</main>

{% include "footer_template.html" %}