<nav class="navbar navbar-epo navbar-expand-md fixed-top navbar-dark">
      <a class="navbar-brand" href="index.html">EPO</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarMain">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item{{index_active}}">
            <a class="nav-link" href="index.html"></a>
          </li>
          <li class="nav-item{{epo_active}}">
            <a class="nav-link" href="epo.html">Osakunta</a>
          </li>
          <li class="nav-item{{jaseneksi_active}}">
            <a class="nav-link" href="jaseneksi.html">Jäseneksi</a>
          </li>
            <li class="nav-item{{linkkeja_active}}">
            <a class="nav-link" href="linkkeja.html">Linkkejä</a>
          </li>
        </ul>
      </div>
    </nav>